name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: logica_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d logica_test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    strategy:
      matrix:
        ruby:
          - '3.4'

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install libpq
        run: sudo apt-get update && sudo apt-get install -y libpq-dev
      - name: Run tests
        env:
          LOGICA_PSQL_CONNECTION: postgres://postgres:postgres@localhost:5432/logica_test
        run: bundle exec rake test
